<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.andrei.rocei.connector.helper</string>
	<key>BundleProgram</key>
	<string>Contents/Library/LoginItems/RO CEI Connector Helper.app/Contents/MacOS/RO CEI Connector Helper</string>
	<key>MachServices</key>
	<dict>
		<key>com.andrei.rocei.connector.helper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.andrei.rocei.connector</string>
		<string>com.andrei.rocei.connector.helper</string>
	</array>
	<key>SpawnConstraint</key>
	<dict>
		<key>team-identifier</key>
		<string>GUH3X26QND</string>
	</dict>
</dict>
</plist>
